Repository jmorgan415/wiz-atlantis-poc: changes, and which Atlantis projects are due for each by the changed paths.
All: wiz-demo-infra-vpc, wiz-demo-infra-eks, wiz-demo-infra-iam-atlantis, aws-demo, gcp-demo

atlantis.yaml:

version: 3
automerge: false
parallel_plan: true
parallel_apply: true

projects:
########## VPC ##########
- name: wiz-demo-infra-vpc
  dir: terraform/aws/common/vpc
  terraform_version: v1.1.9
  workspace: wiz-demo-infra
  workflow: ws
  autoplan:
    when_modified: ["*.tf", "config.tfvars"]
  apply_requirements: [mergeable]

########## EKS ##########
- name: wiz-demo-infra-eks
  dir: terraform/aws/common/eks
  terraform_version: v1.1.9
  workspace: wiz-demo-infra
  workflow: ws
  autoplan:
    when_modified: ["*.tf", "config.tfvars"]
  apply_requirements: [mergeable]

########## IAM Atlantis ##########
- name: wiz-demo-infra-iam-atlantis
  dir: terraform/aws/account/iam/atlantis
  terraform_version: v1.1.9
  workspace: wiz-demo-infra
  workflow: ws
  autoplan:
    when_modified: ["*.tf", "config.tfvars"]
  apply_requirements: [mergeable]

########## Apps ##########
## aws ##
- name: aws-demo
  dir: terraform/aws/apps/bucket
  terraform_version: v1.1.9
  workspace: aws-demo
  workflow: ws
  autoplan:
    when_modified: ["*.tf", "config.tfvars"]
  apply_requirements: [mergeable]

## gcp ##
- name: gcp-demo
  dir: terraform/gcp/apps/bucket
  terraform_version: v1.1.9
  workspace: gcp-demo
  workflow: ws
  autoplan:
    when_modified: ["*.tf", "config.tfvars"]
  apply_requirements: [mergeable]

# ## azure ##
# - name: azure-demo
#   dir: terraform/aws/apps/bucket
#   terraform_version: v1.1.9
#   workspace: azure-demo
#   workflow: ws
#   autoplan:
#     when_modified: ["*.tf", "config.tfvars"]
#   apply_requirements: [mergeable]

## Non-default workflows:
# workflows:
#   datadog:
#     plan:
#       steps:
#       - env:
#           name: DATADOG_APP_KEY
#           command: 'aws secretsmanager get-secret-value --secret-id atlantis --region us-east-1 | jq --raw-output .SecretString | jq -r ".datadog.datadog_app_key"'
#       - env:
#           name: DATADOG_API_KEY
#           command: 'aws secretsmanager get-secret-value --secret-id atlantis --region us-east-1 | jq --raw-output .SecretString | jq -r ".datadog.datadog_api_key"'
#       - run: terraform${ATLANTIS_TERRAFORM_VERSION} init -input=false -no-color
#       - run: terraform${ATLANTIS_TERRAFORM_VERSION} workspace select -no-color ${WORKSPACE} || terraform${ATLANTIS_TERRAFORM_VERSION} workspace new ${WORKSPACE} && terraform${ATLANTIS_TERRAFORM_VERSION} workspace select -no-color ${WORKSPACE}
#       - run: if [ "$DATADOG_APP_KEY" != "null" ] && [ "$DATADOG_API_KEY" != "null" ]; then terraform${ATLANTIS_TERRAFORM_VERSION} plan -var-file=./config.tfvars -var "datadog_app_key=${DATADOG_APP_KEY}" -var "datadog_api_key=${DATADOG_API_KEY}" -input=false -refresh -no-color -parallelism=50 -out $PLANFILE; else terraform${ATLANTIS_TERRAFORM_VERSION} plan -var-file=./config.tfvars -input=false -refresh -no-color -parallelism=50 -out $PLANFILE; fi
#     apply:
#       steps:
#       - run: terraform${ATLANTIS_TERRAFORM_VERSION} apply -no-color -parallelism=50 $PLANFILE

testing gcp
  terraform/gcp/apps/bucket/main.tf
Due: gcp-demo

testing multi-cloud
  terraform/aws/apps/bucket/main.tf
  terraform/gcp/apps/bucket/main.tf
Due: aws-demo, gcp-demo

test
  terraform/aws/apps/bucket/main.tf
Due: aws-demo

Updated image
  argocd/charts/atlantis/Dockerfile
  argocd/charts/atlantis/values.yaml
  terraform/gcp/apps/bucket/main.tf
Due: gcp-demo

added azure
  atlantis.yaml
  terraform/azure/apps/rg/backend.tf
  terraform/azure/apps/rg/config.tfvars
  terraform/azure/apps/rg/main.tf
  terraform/azure/apps/rg/outputs.tf
  terraform/azure/apps/rg/providers.tf
  terraform/azure/apps/rg/vars.tf
  terraform/gcp/apps/bucket/main.tf
Due: gcp-demo

added subscription
  atlantis.yaml
  terraform/azure/apps/rg/main.tf
  terraform/azure/apps/rg/vars.tf
Due: none

fixed region
  atlantis.yaml
Due: none

fixed typo
  atlantis.yaml
Due: none

Updated flow
  atlantis.yaml
  terraform/aws/apps/bucket/aws-demo.tfvars
  terraform/aws/apps/bucket/config.tfvars
  terraform/aws/apps/bucket/main.tf
  terraform/aws/shared/eks/argocd.tf
  terraform/aws/shared/eks/backend.tf
  terraform/aws/shared/eks/irsa.tf
  terraform/aws/shared/eks/karpenter.tf
  terraform/aws/shared/eks/locals.tf
  terraform/aws/shared/eks/main.tf
  terraform/aws/shared/eks/outputs.tf
  terraform/aws/shared/eks/providers.tf
  terraform/aws/shared/eks/vars.tf
  terraform/aws/shared/eks/wiz-demo-infra.tfvars
  terraform/aws/shared/vpc/backend.tf
  terraform/aws/shared/vpc/main.tf
  terraform/aws/shared/vpc/outputs.tf
  terraform/aws/shared/vpc/providers.tf
  terraform/aws/shared/vpc/vars.tf
  terraform/aws/shared/vpc/wiz-demo-infra.tfvars
  terraform/azure/apps/rg/azure-demo.tfvars
  terraform/azure/apps/rg/config.tfvars
  terraform/azure/apps/rg/main.tf
  terraform/azure/apps/rg/providers.tf
  terraform/azure/apps/rg/vars.tf
  terraform/gcp/apps/bucket/config.tfvars
  terraform/gcp/apps/bucket/gcp-demo.tfvars
  terraform/gcp/apps/bucket/main.tf
  terraform/gcp/apps/bucket/providers.tf
  terraform/gcp/apps/bucket/vars.tf
Due: aws-demo, gcp-demo

updated azure provider
  atlantis.yaml
  terraform/azure/apps/rg/providers.tf
  terraform/azure/apps/rg/vars.tf
Due: none

moving old dir
  old/common/eks/argocd.tf
  old/common/eks/backend.tf
  old/common/eks/cluster.tf
  old/common/eks/config.tfvars
  old/common/eks/irsa.tf
  old/common/eks/karpenter.tf
  old/common/eks/locals.tf
  old/common/eks/main.tf
  old/common/eks/outputs.tf
  old/common/eks/providers.tf
  old/common/eks/vars.tf
  old/common/vpc/backend.tf
  old/common/vpc/config.tfvars
  old/common/vpc/main.tf
  old/common/vpc/outputs.tf
  old/common/vpc/providers.tf
  old/common/vpc/vars.tf
Due: none

removed workflows and volume mount
  argocd/charts/atlantis/values.yaml
Due: none

multi-cloud test
  terraform/aws/apps/bucket/main.tf
  terraform/azure/apps/rg/main.tf
  terraform/gcp/apps/bucket/main.tf
Due: aws-demo, gcp-demo
